{% extends "base.twig" %}

{% block content %}
  <div class="content-wrapper">
    <img src="{{site.theme.link}}/static/img/headers/dojo.jpg" class="top-banner"/>
    <article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
      <section class="article-content">
        <div class="article-body">
          <h1>{{post.title}}</h1>
          {{broken_content[0]}}
          {% include 'cta.twig' with {'buttontext': 'Start A Dojo', 'target': 'https://zen.coderdojo.com/start-dojo' } %}
          <br />
          {{broken_content[1]}}
          <br />
        </div>
        {{broken_content[2]}}
        <h2>{% include 'cta.twig' with {'buttontext': 'Start a Dojo', 'target': 'https://zen.coderdojo.com/start-dojo' } %}</h2>
        <br />
        {% include 'video.twig' with {'videoOne': 'https://www.youtube.com/embed/c7ROVdcyk7s' } %}
    </article>
  </div>
{% endblock %}
