{% extends "base.twig" %}

{% block content %}
  <div class="content-wrapper">
    <img src="{{site.theme.link}}/static/img/headers/attend.jpg" class="top-banner" />
    <article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
      <section class="article-content">
        <div class="article-body">
          <h1>{{post.title}}</h1>
          {{broken_content[0]}}
          <br />
          {% include 'cta.twig' with {'buttontext': 'Find A Dojo', 'target': 'https://zen.coderdojo.com/' } %}
          <br /><br />
        </div>
        <div class="article-mid">
          <h1>How can parents help?</h1>
          {% include 'paragraph.twig' with {'align': 'left', 'title':'What is CoderDojo?', 'glyphOne':'fa fa-info fa-5x', 'desc': 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas viverra interdum tempor. Maecenas lacinia, quam lacinia euismod placerat, lacus turpis tincidunt turpis, sit amet rhoncus urna massa vel orci. Morbi facilisis, dui id fermentum malesuada, ligula nibh aliquam lacus, eget tempor purus mauris id ipsum. Curabitur ullamcorper sagittis ipsum, eu cursus nibh.' } %}
          {% include 'paragraph.twig' with {'align': 'right', 'title':'How parents can help', 'glyphTwo':'fa fa-child fa-5x', 'desc': 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas viverra interdum tempor. Maecenas lacinia, quam lacinia euismod placerat, lacus turpis tincidunt turpis, sit amet rhoncus urna massa vel orci. Morbi facilisis, dui id fermentum malesuada, ligula nibh aliquam lacus, eget tempor purus mauris id ipsum. Curabitur ullamcorper sagittis ipsum, eu cursus nibh.' } %}
          {% include 'paragraph.twig' with {'align': 'left', 'title':'Free for all', 'glyphOne':'fa fa-credit-card fa-5x', 'desc': 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas viverra interdum tempor. Maecenas lacinia, quam lacinia euismod placerat, lacus turpis tincidunt turpis, sit amet rhoncus urna massa vel orci. Morbi facilisis, dui id fermentum malesuada, ligula nibh aliquam lacus, eget tempor purus mauris id ipsum. Curabitur ullamcorper sagittis ipsum, eu cursus nibh.' } %}
        </div>
        {% include "bio-heads-3.twig" with {'quoteOne': 'I love CoderDojo because it’s a place you can come and learn to code, make new friends and be creative. The mentors are really helpful if you are stuck on something.',
        'imageOne':site.theme.link ~ '/static/img/testimonials/dhruv_bhamidpati.png',
        'quoteeOne': ' Dhruv Bhamidipati - CoderDojo Docklands',
        'quoteTwo': 'Learning to code is done in a relaxed friendly atmosphere. I really like being creative and coding gives me an opportunity to put my ideas into a digital world.',
        'imageTwo': site.theme.link ~ '/static/img/testimonials/lauren_boyle.png',
        'quoteeTwo': 'Lauren Boyle - CoderDojo Dun Laoghaire',
        'quoteThree': 'Computer skills will be important no matter what career our Ninjas go into in the future, so by mentoring them, I’m making a direct impact on their future employability.',
        'imageThree': site.theme.link ~ '/static/img/testimonials/niamh_scullion.png',
        'quoteeThree': 'Niamh Scullion - CoderDojo DCU' }
        %}
        {% include 'map.twig' with {'purpose': 'find' } %}
      </section>
    </article>
  </div>
{% endblock %}
