{% extends "base.twig" %}

{% block content %}
  <div class="content-wrapper">
    <img src="http://placehold.it/1280x320" class="top-banner" />
    <article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
      <section class="article-content">
        <div class="article-body">
          <h1>{{post.title}}</h1>
          {{broken_content[0]}}
          <br />
          {% include 'cta.twig' with {'buttontext': 'Call to Action', 'target': 'http://www.google.com' } %}
          <br /><br />
        </div>
        <div class="article-mid">
          {{broken_content[1]}}
        </div>
        {% include "item-box.twig" with {'title': 'The Arcade & Cool Tools' } %}
        {% include "item-box.twig" with {'title': 'Competitions', 'rows': 3 } %}
        <div class="article-body">
          {{broken_content[2]}}
          <br />
          {% include 'cta.twig' with {'buttontext': 'Call to Action', 'target': 'http://www.google.com' } %}
        </div>
        {% include "item-box.twig" with {'title': 'Nearby Dojos & Events', 'rows': 3 } %}
        {% include "bio-heads-3.twig" %}
        {% include "find-dojo.twig" %}
      </section>
    </article>
  </div>
{% endblock %}
