{% extends "base.twig" %}

{% block content %}
<div class="content-wrapper">
  <div class="home-splash">
    <img src="{{site.theme.link}}/static/img/headers/coderdojo-home.png" class="top-banner home-banner" />
    <!-- <h2 class="home-banner-text"><span>The open source, volunteer led, global movement of free coding clubs for young people.</span></h2>
    <img class="cd-logo" src="{{site.theme.link}}/static/img/coderdojo/coderdojo-logo-dark-bg.svg"></img> -->
  </div>
  <article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
    <section class="article-content"> <h1 class="article-h1 center">What Is CoderDojo?</h1> <div class="article-body">
        {{broken_content[0]}}
        <br/>
        <h1> I want to...</h1>
          <div class="row">
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                <img src="{{site.theme.link}}/static/img/home/ninja.png">
                  <div class="caption">
                    <h2>Book A Child</h2>
                    <p> Join a dojo and explore tech in a creative and fun environment. </p>
                        <p>
                          <a href="https://coderdojo.com/attend-a-dojo/" class="btn btn-primary" role="button">Learn More</a>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                      <img src="{{site.theme.link}}/static/img/home/champion.png">
                        <div class="caption">
                          <h2>Create A New Dojo</h2>
                          <p> Build your own Dojo, its easy, fun and rewarding. </p>
                            <p>
                              <a href="https://coderdojo.com/start-a-dojo/" class="btn btn-primary" role="button">Learn More</a>
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                          <img src="{{site.theme.link}}/static/img/home/volunteer.png">
                          <div class="caption">
                            <h2>Volunteer at a Dojo</h2>
                            <p> Help make a difference and volunteer at your local Dojo!</p>
                            <p>
                              <a href="https://coderdojo.com/volunteer/" class="btn btn-primary" role="button" align="right">Learn More</a>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <hr/>
                    <h1>Community Tools & Events</h1>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="row">

                          <article class="col-md-3"><img src="{{site.theme.link}}/static/img/home/slack.png">
                            <div class="col-sm-12 col-md-12 content-slack">
                              <h3> Community Slack </h3>
                                <p class="post-preview">Chat to volunteers from all over the world, share your experiences, post questions and discuss all things CoderDojo.</p>
                                <p class="meta">
                                  <button type="button" class="btn btn-default">Learn More</button>
                                </p>
                          </div>
                            <br/>
                    </article>

                    <article class="col-md-3"><img src="{{site.theme.link}}/static/img/home/forums.jpg">
                      <div class="col-sm-12 col-md-12 content-forums">
                          <h3> Forums </h3>
                          <p class="post-preview">Access discussions on different topics and keep up to date on events, challenges & opportunities</p>
                            <p class="meta"><button type="button" class="btn btn-success">Learn More</button></p>
                        </div>
                        <br/>
                  </article>

                  <article class="col-md-3"><img src="{{site.theme.link}}/static/img/home/coolest-projects.png">
                    <div class="col-sm-12 col-md-12 content-coolestprojects">
                        <h3> Coolest Projects</h3>
                        <p class="post-preview">A leading showcase of projects by ninjas that inspires the next generation of digital creators & innovators!</p>
                          <p class="meta"><button type="button" class="btn btn-warning">Learn More</button></p>
                      </div>
                      <br/>
                </article>

                <article class="col-md-3"><img src="{{site.theme.link}}/static/img/home/dojocon.jpg">
                  <div class="col-sm-12 col-md-12 content-dojocon">
                      <h3> DojoCon </h3>
                      <p class="post-preview">DojoCon is the annual global CoderDojo conference for the community who make Dojos possible. </p>
                        <p class="meta"><button type="button" class="btn btn-primary">Learn More</button></p>
                    </div>
                    <br/>
              </article>

                  </div>
            </div>
                </div>
                    <hr/>
                    <h1>Latest News</h1>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="row">
                      {% include "article.twig" with {"wordCount": 20} %}
                    </div>
                  </div>
                  <div class="article-wrapper">
                    <h5 class="center">Get the latest Coder Dojo stories delivered to your inbox daily.</h5>
                    {% include 'cta.twig' with {'buttontext': 'Subscribe'} %}
                    <hr/>
                  </div>
                  </div>
                  </div>
      </div>
      <div class="article-wrapper">
<br/>
        {% include 'map.twig' with {'purpose': 'find' } %}
      <!-- <div class="article-wrapper">
        <h5 class="center">Get the latest Coder Dojo stories delivered to your inbox daily.</h5>
        {% include 'cta.twig' with {'buttontext': 'Subscribe'} %}
      </div> -->
    </section>
  </article>
</div><!-- /content-wrapper -->
{% endblock %}
