{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<img src="{{site.theme.link}}/static/img/headers/movement-no-text.jpg" class="top-banner"/>
    <article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
    	<section class="article-content">
      	<div class="article-wrapper">
					<div class="article-body">
						{{broken_content[0]}}
  				</div>
        </div>
        <img src="http://placehold.it/1280x320" class="top-banner"/>
        <div class="article-wrapper">
        	<div class="article-body">
          	{{broken_content[1]}}
          </div>
				</div>
				<div class="article-wrapper">
       		<div class="article-body">
        		{{broken_content[2]}}
					</div>
				</div>
    	</section>
  	</article>
	</div><!-- /content-wrapper -->
{% endblock %}
