{% extends "base.twig" %}

{% block content %}
  <div class="content-wrapper">
    <img src="{{site.theme.link}}/static/img/headers/dojo.jpg" class="top-banner"/>
    <article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
      <section class="article-content">
        <div class="article-body">
          <h1>{{post.title}}</h1>
          {{broken_content[0]}}
            <br />
        </div>
        <div class="article-mid actions-with-icons">
          <h1>What's involved</h1>
          {% include 'paragraph.twig' with {'align': 'left', 'title':'Become a Champion!', 'glyph':'fa fa-user', 'desc': ' The most important step in starting a Dojo is making a decision to become a Champion. Champions are the project managers of a Dojo and you’ll join a community of more than 1,000 CoderDojo Champions all around the world! '} %}
          {% include 'paragraph.twig' with {'align': 'right', 'title':'Find your Team', 'glyph':'fa fa-users', 'desc': 'There is no I in team and no Dojo is ran by just one person! We recommend a ratio of 1:8 for mentors  to young people.'} %}
          {% include 'paragraph.twig' with {'align': 'left', 'title':'Secure a Venue', 'glyph':'fa fa-bank', 'desc': 'You need a venue with power sockets, internet access, tables and chairs. Some great Dojo venues include, community spaces, offices, and educational institutions. You cannot host Dojo’s in private residences.'} %}
          {% include 'paragraph.twig' with {'align': 'right', 'title':'Plan your Dojo', 'glyph':'fa  fa-terminal', 'desc': 'Set Up a meeting with your initial team, decide on the core points for your Dojo such as the day,  regularity (weekly, bi-weekly or monthly) and length (60,90, 120 minutes). Decide on the initial content you wish to cover. There is a huge amount of tried and tested content available on [http://kata.coderdojo.com]. '} %}
          {% include 'paragraph.twig' with {'align': 'left', 'title':'Promote your Dojo!', 'glyph':'fa fa-bullhorn', 'desc': 'Setup communications (e.g. email and Twitter) specifically for your Dojo. Consider inviting young people via local schools or youth groups. Set up ticketing on the CoderDojo website to know who to expect on the day and ensure they’ll fit in the venue!  '} %}
          {% include 'video.twig' with {'videoOne': 'https://www.youtube.com/embed/c7ROVdcyk7s' } %}
        </div>

        {% include 'map.twig' %}
    </article>
  </div>
{% endblock %}
