{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<img src="{{site.theme.link}}/static/img/headers/header.png" class="top-banner"/>
    <article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
    	<section class="article-content">
      	<div class="article-wrapper">
					<div class="article-body">
						{{broken_content[0]}}
						<div class='col-md-3'>
							<img class="image-crop" src="https://placehold.it/100x100"/>
						</div>
						<div class='col-md-3'>
							<img class="image-crop" src="https://placehold.it/100x100"/>
						</div>
						<div class='col-md-3'>
							<img class="image-crop" src="https://placehold.it/100x100"/>
						</div>
						<div class='col-md-3'>
							<img class="image-crop" src="https://placehold.it/100x100"/>
						</div>
						{% include 'input-field.twig' with {'id': 'donate', 'placeholder': 'Pick your own amount', type: 'text', 'labelfor': 'donate', 'formclass': 'amount' } %}
						{% include 'cta.twig' with {'buttontext': 'Submit', 'target': 'http://www.google.com' } %}
						{{broken_content[1]}}
						{% include 'cta.twig' with {'buttontext': 'Call to Action', 'target': 'http://www.google.com' } %}
						{{broken_content[2]}}
						{% include 'cta.twig' with {'buttontext': 'Find A Dojo', 'target': 'https://zen.coderdojo.com/' } %}
						{{broken_content[3]}}
						{% include 'form.twig' with {'purpose': 'contact' } %}
  				</div>
        </div>
    	</section>
  	</article>
	</div><!-- /content-wrapper -->
{% endblock %}
