{% extends "base.twig" %}
{% block content %}
  <div class="content-wrapper">
    <img src="{{site.theme.link}}/static/img/headers/attend.jpg" class="top-banner" />
    <article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
      <section class="article-content">
        <div class="article-body">
          <h1>{{post.title}}</h1>
          {{broken_content[0]}}
          <br />
          {% include 'cta.twig' with {'buttontext': 'Find A Dojo', 'target': 'https://zen.coderdojo.com/find' } %}
          <br />
        </div>
        {{broken_content[1]}}  
        {% include 'map.twig' with {'purpose': 'find' } %}
      </section>
    </article>
  </div>
{% endblock %}
