{% extends "base.twig" %}

{% block content %}
  <div class="content-wrapper">
    <img src="http://placehold.it/1280x320" class="top-banner" />
    <article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
      <section class="article-content">
        <div class="article-body">
          <h1>{{post.title}}</h1>
          {{broken_content[0]}}
          <br />
          {% include 'cta.twig' with {'buttontext': 'Call to Action', 'target': 'http://www.google.com' } %}
          <br /><br />
        </div>
        <div class="article-mid">
          {{broken_content[1]}}
        </div>
        {% include "item-box.twig" with {'title': 'The Arcade & Cool Tools' } %}
        {% include "item-box.twig" with {'title': 'Competitions', 'rows': 3 } %}
        <div class="article-body">
          {{broken_content[2]}}
          <br />
          {% include 'cta.twig' with {'buttontext': 'Call to Action', 'target': 'http://www.google.com' } %}
        </div>
        {% include "item-box.twig" with {'title': 'Nearby Dojos & Events', 'rows': 3 } %}
        {% include "bio-heads-3.twig" with {'quoteOne': 'Volunteers are people from all walks of life, that have a common goal. This goal is the desire to make a difference in their community by giving their time to help others.', 'quoteTwo': 'These skills will be important no matter what career they go into in the future, so by mentoring you’ll be making a direct impact on their future employability.” Craig Steele – CoderDojo Scotland', 'quoteThree': 'My favourite thing about volunteering as a CoderDojo Mentor is seeing the satisfaction in kids’ eyes at the end of a Dojo.” Agnese Addone – CoderDojo Roma, Italy' } %}
        {% include "find-dojo.twig" %}
      </section>
    </article>
  </div>
{% endblock %}
