{% extends "base.twig" %}

{% block content %}
  <div class="content-wrapper">
    <img src="{{site.theme.link}}/static/img/headers/volunteer.jpg" class="top-banner" />
    <article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
      <section class="article-content">
        <div class="article-body">
          <h1>{{post.title}}</h1>
          {{broken_content[0]}}
          <br />
          {% include 'cta.twig' with {'buttontext': 'Find A Dojo', 'target': 'http://zen.coderdojo.com' } %}
          <br /><br />
        </div>
        <div class="article-mid actions-with-icons">
          <h1>What's involved</h1>
          {% include 'paragraph.twig' with {'align': 'left', 'title':'How can I help??', 'glyph':'fa fa-users', 'desc': 'You can attend your Dojo’s meetings and help out for a couple of hours, whether that’s weekly, fortnightly or monthly. '} %}
          {% include 'paragraph.twig' with {'align': 'right', 'title':'Experienced coder?', 'glyph':'fa fa-code', 'desc': 'Help out at a Dojo and share your knowledge with local young people who are eager to learn!'} %}
          {% include 'paragraph.twig' with {'align': 'left', 'title':'No technical expertise?', 'glyph':'fa fa-close', 'desc': 'No problem! We need awesome people to help with registration, updating social media, producing fliers etc. Any help is appreciated! '} %}
          {% include 'paragraph.twig' with {'align': 'right', 'title':'Ready-made resources!', 'glyph':'fa fa-book', 'desc':'We have loads of resources to get you started as a volunteer, and you can always create and share your own. Find out more on the resources page. '} %}
        </div>
        {% include "bio-heads-3.twig" with {'quoteOne': 'Coding is very important in the 21st century because if you do not learn computer programming, how can you use computers at work when you are an adult?',
        'imageOne':site.theme.link ~ '/static/img/testimonials/niamh_scanlon.png',
        'quoteeOne': 'Niamh - CoderDojo DCU',
        'quoteTwo': 'CoderDojo isn’t primarily about code. It’s about providing a place that children can be inquisitive and create things without fear of failure. They can be themselves.',
        'imageTwo': site.theme.link ~ '/static/img/testimonials/yohei.png',
        'quoteeTwo': 'Yohei Yasukawa – CoderDojo Tokyo',
        'quoteThree': 'My favourite thing about volunteering as a CoderDojo Mentor is seeing the satisfaction in kids’ eyes at the end of a Dojo. Be patient and most important, be cool!',
        'imageThree': site.theme.link ~ '/static/img/testimonials/agnes_addone.jpg',
        'quoteeThree': 'Agnese Addone – CoderDojo Roma, Italy' }
        %}
        {% include 'map.twig' with {'purpose': 'find' } %}
      </section>
    </article>
  </div>
{% endblock %}
