{% extends "base.twig" %}

{% block content %}
  <div class="content-wrapper">
    <img src="{{site.theme.link}}/static/img/headers/dojo.jpg" class="top-banner"/>
    <article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
      <section class="article-content">
        <div class="article-body">
          <h1>{{post.title}}</h1>
          {{broken_content[0]}}
          {% include 'cta.twig' with {'buttontext': 'Create A Dojo', 'target': 'https://zen.coderdojo.com/register' } %}
          <br />
          {{broken_content[1]}}
            {% include 'video.twig' with {'videoOne': 'https://www.youtube.com/embed/oogVEGaO8Dk' } %}
            <br />
        </div>
        <div class="article-mid actions-with-icons">
          <h1>What's involved</h1>
          {% include 'paragraph.twig' with {'align': 'left', 'title':'Build your team', 'glyph':'fa fa-users', 'desc': 'Any successful Dojo needs a team of volunteer mentors. Just how many depends on the size of your Dojo. We recommended 1 mentor to 8 young people. You can share our volunteer page with those interested in volunteering to give them details on what they’re getting into! '} %}
          {% include 'paragraph.twig' with {'align': 'right', 'title':'Find your venue', 'glyph':'fa fa-building', 'desc': 'Location is vitally important for running a successful Dojo. Consider the size of your Dojo and also the needs of your sessions. Internet and power access are must haves. We recommend attendees bring their own laptops, but choosing a venue with its own hardware can be beneficial. In the long term, looking for sponsorship to provide hardware and tools can be a goal. Remember, Dojo’s cannot be hosted in private residences such as homes! Community spaces such as Schools and libraries libraries offer awesome spaces for hosting your Dojo. '} %}
          {% include 'paragraph.twig' with {'align': 'left', 'title':'Plan your dojo', 'glyph':'fa fa-bank', 'desc': 'Lay down a date for your first Dojo. Make sure this gives you time to prepare. Once that is in place meet with your team and plan what content you’ll be covering and how to promote your Dojo. We recommend setting up an email address and twitter account specifically for your Dojo. Make contact with local schools and look for the most effective way to reach your audience. We have a ton of learning resources available and you can always create your own to expand on that. Sharing knowledge helps improve not just your local Dojo but every Dojo worldwide! Once you’ve put together a plan, your team is prepped and you have a group eager to become coding ninjas then you’re ready to begin! '} %}
          {% include 'paragraph.twig' with {'align': 'right', 'title':'Going deeper', 'glyph':'fa fa-book', 'desc': 'Kata is our online wiki. It has a host of detailed information that compliments everything on this page. Click here to check out an in depth Dojo guide [http://kata.coderdojo.com/wiki/Dojo_Guide]! Beyond that you can find a whole host of info on running a Dojo, best practices, reading material and much much more. '} %}
        </div>
        {% include 'map.twig' %}
    </article>
  </div>
{% endblock %}
