{% extends "base.twig" %}

{% block content %}
  <div class="content-wrapper">
    <div class="news-carousel">
      <!-- {% include "carousel.twig" %} -->
    </div>
    <article class="col-md-9">
      <div class="tool-pagination">
        <h1>All News</h1>
        {% include "article-list.twig" with {"wordCount": 50} %}
        <div class="pagination-buttons">
          {% if pagination.prev %}
          <a href="{{pagination.prev.link}}" class="prev {{pagination.prev.link|length ? '' : 'invisible'}} pull-left"><button class="btn btn-default">Previous</button></a>
          {% endif %}
          {% if pagination.next %}
          <a href="{{pagination.next.link}}" class="next {{pagination.next.link|length ? '' : 'invisible'}} pull-right"><button class="btn btn-default">Next</button></a>
          {% endif %}
        </div>
      </div>
    </article>
    <div class="col-md-3">
      <form class="news-search" role="search" action={{site.home}}>
        <div class="form-group">
          <h3>Search</h3>
          <input id="navbar-search" type="text" class="form-control" placeholder="Search" name="s">
        </div>
      </form>
      <ul class="cat-list">
        <h3>Categories</h3>
        {% for cat in categories %}
            <li><a href="{{cat.link}}">{{cat.name}}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div><!-- /content-wrapper -->
{% endblock %}
