{% extends "base.twig" %}

{% block content %}
<div class="content-wrapper">
  <div class="home-splash">
    <img src="{{site.theme.link}}/static/img/headers/coderdojo-home.jpg" class="top-banner home-banner" />
    <!-- <h2 class="home-banner-text"><span>The open source, volunteer led, global movement of free coding clubs for young people.</span></h2>
    <img class="cd-logo" src="{{site.theme.link}}/static/img/coderdojo/coderdojo-logo-dark-bg.svg"></img> -->
  </div>
  <article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
    <section class="article-content"> <h1 class="article-h1 center">What Is CoderDojo?</h1> <div class="article-body">
        {{broken_content[0]}} <h1 class="article-h1 center"> AND ITS FREE! </h1>
      </div>
      <div class="article-wrapper">
        {% include "bio-heads-3.twig" with {'quoteOne': 'My child wishes to attend a Dojo. How do I attend?',
        'imageOne':site.theme.link ~ '/static/img/users/ninja.jpg',
          'quoteeOne': 'How To Attend A Dojo >>',
        'quoteTwo': 'I wish to mentor at a Dojo. How do I volunteer?',
        'imageTwo': site.theme.link ~ '/static/img/users/volunteer.jpg',
        'quoteeTwo': 'Volunteer At A Dojo >>',
        'quoteThree': 'I wish to start my own Dojo. How do I start?.',
        'imageThree': site.theme.link ~ '/static/img/users/champion.jpg',
        'quoteeThree': 'Create A Dojo >>' }
        %}
        {% include 'map.twig' with {'purpose': 'find' } %}
      <!-- <div class="article-wrapper">
        <h5 class="center">Get the latest Coder Dojo stories delivered to your inbox daily.</h5>
        {% include 'cta.twig' with {'buttontext': 'Subscribe'} %}
      </div> -->
    </section>
  </article>
</div><!-- /content-wrapper -->
{% endblock %}
