<div class="pages">
  {% for post in posts %}
  <article class="row article-pagination">
    {% if post.thumbnail.src %}
    <a href="{{post.link}}" class="col-md-12 col-xs-12 post-image" style="background-image:url({{post.thumbnail.src('large')}})">
    </a>
    {% endif %}
    <div class="row">
      <div class="col-md-1 col-sm-1 col-xs-1"></div>
      <div class="col-md-10 col-sm-10 col-xs-10 post-content">
        <a href="{{post.link}}"><h3>{{post.title}}</h3></a>
        <p class="meta">{{post.post_date|date('j F Y')}} · by {{post.meta('guest_author') ? post.meta('guest_author') : post.author.name}}</p>
        <p class="post-preview">{{post.get_preview(wordCount)}}</p>
      </div>
      <div class="col-md-1 col-sm-1 col-xs-1"></div>
    </div>
  </article>
  {% endfor %}
</div>
