{% block html_head_container %}

  {% include 'html-header.twig' %}
  {% block head %}
  {% endblock %}
  </head>
  {% endblock %}

  <body class="{{body_class}}" data-template="base.twig">
    {% include 'header.twig' %}
    <div class="cd-menu__content-container no-padding">
      <section id="content" role="main" class="content-wrapper">
        {% if title %}<h1>{{title}}</h1>{% endif %}
        <div class="wrapper {{sidebar_class}}">
          {% block content %}
          Sorry, no content
          {% endblock %}
        </div>
        {% if sidebar %}
        <aside class="layout-sidebar">
          {{sidebar}}
        </aside>
        {% endif %}
      </section>
    </div>
    {% block footer %}
    {% include 'footer.twig' %}
    {{ function('wp_footer') }}
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="{{site.theme.link}}/static/js/fitvids.min.js"></script>
    <script src="{{site.theme.link}}/static/site.js"></script>
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P3CNG3"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-P3CNG3');</script>
    <!-- End Google Tag Manager -->
    {% endblock %}
  </body>
</html>
