<div class="row bio-heads">
  <div class="col-md-4 col-sm-6">
    <img src="{{imageOne}}" class="image-crop">
    <p>{{quoteOne}}</p>
    <span>{{quoteeOne}}</span>
  </div>
  <div class="col-md-4 col-sm-6">
    <img src="{{imageTwo}}" class="image-crop">
    <p>{{quoteTwo}}</p>
    <span>{{quoteeTwo}}</span>
  </div>
  <div class="col-md-4 col-sm-12">
    <img class="image-crop" src="{{imageThree}}" class="image-crop">
    <p>{{quoteThree}}</p>
    <span>{{quoteeThree}}</span>
  </div>
</div>
