<div class="wrapper-grid" ><div class="row bio-heads">
  <div class="headshot-modal-link-quotees col-md-4 col-sm-4 col-xs-12">
    <div>
    <img src="{{imageOne}}" class="image-crop">
    <p>{{quoteOne}}</p>
    <span><strong>{{quoteeOne}}</strong></span>
  </div>
</div>
  <div class="headshot-modal-link-quotees col-md-4 col-sm-4 col-xs-12">
    <img src="{{imageTwo}}" class="image-crop">
    <p>{{quoteTwo}}</p>
    <span><strong>{{quoteeTwo}}</strong></span>
  </div>
  <div class="headshot-modal-link-quotees col-md-4 col-sm-4 col-xs-12">
    <img class="image-crop" src="{{imageThree}}" class="image-crop">
    <p>{{quoteThree}}</p>
    <span><strong>{{quoteeThree}}</strong></span>
  </div>
</div>
</div>
