<div class="row bio-heads">
  <div class="col-md-4">
    <img src="{{imageOne}}" class="image-crop">
    <p>{{quoteOne}}</p>
  </div>
  <div class="col-md-4">
    <img src="{{imageTwo}}" class="image-crop">
    <p>{{quoteTwo}}</p>
  </div>
  <div class="col-md-4">
    <img class="image-crop" src="{{imageThree}}" class="image-crop">
    <p>{{quoteThree}}</p>
  </div>
</div>
