<div class="row people bio-heads">
  <div class="col-md-3 footer-left-column"> </div>
  <div class="col-md-2">
    <img src="{{imageOne}}" class="image-crop">
    <p>{{quoteOne}}</p>
  </div>
  <div class="col-md-2">
    <img src="{{imageTwo}}" class="image-crop">
    <p>{{quoteTwo}}</p>
  </div>
  <div class="col-md-2">
    <img class="image-crop" src="{{imageThree}}" class="image-crop">
    <p>{{quoteThree}}</p>
  </div>
  <div class="col-md-3 footer-right-column"></div>
</div>
