{% if align%}
  <div class="cta" style="text-align: {{ align }} ;">
{% else %}
  <div class="cta" style="text-align: center;">
{% endif %}

{% if target %}
  <a href="{{target}}">
{% endif %}

{% if class%}
  <button type="submit" id="cta" class="{{class}}" data-description="{{dataDescription}}" data-name="{{dataName}}">{{ buttontext }}</button>
{% else %}
  <button type="submit" id="cta">{{ buttontext }}</button>
{% endif %}

{% if target %}
  </a>
{% endif %}
</div>
