<div class="row text-center">
  <h3>Our Funders</h3>
  <div class="col-md-5ths col-xs-6">
     <img class="image-crop" src="{{funderOne}}" alt = "">
  </div>
  <div class="col-md-5ths col-xs-6">
     <img class="image-crop" src="{{funderTwo}}" alt = "">
  </div>
  <div class="col-md-5ths col-xs-6">
     <img class="image-crop" src="{{funderThree}}" alt = "">
  </div>
  <div class="col-md-5ths col-xs-6">
     <img class="image-crop" src="{{funderFour}}" alt = "">
  </div>
  <div class="col-md-5ths col-xs-6">
     <img class="image-crop" src="{{funderFive}}" alt = "">
  </div>
</div>
<div class="row text-center">
  <div class="col-md-5ths col-xs-6">
     <img class="image-crop" src="{{funderSix}}" alt = "">
  </div>
  <div class="col-md-5ths col-xs-6">
     <img class="image-crop" src="{{funderSeven}}" alt = "">
  </div>
  <div class="col-md-5ths col-xs-6">
     <img class="image-crop" src="{{funderEight}}" alt = "">
  </div>
  <div class="col-md-5ths col-xs-6">
     <img class="image-crop" src="{{funderNine}}" alt = "">
  </div>
  <div class="col-md-5ths col-xs-6">
     <img class="image-crop" src="{{funderTen}}" alt = "">
  </div>
</div>
<div class="row text-center">
  <h3>Partners</h3>
  <div class="col-md-5ths col-xs-6">
     <img class="image-crop" src="{{partnerOne}}" alt = "">
  </div>
  <div class="col-md-5ths col-xs-6">
     <img class="image-crop" src="{{partnerTwo}}" alt = "">
  </div>
  <div class="col-md-5ths col-xs-6">
     <img class="image-crop" src="{{partnerThree}}" alt = "">
  </div>
  <div class="col-md-5ths col-xs-6">
     <img class="image-crop" src="{{partnerFour}}" alt = "">
  </div>
  <div class="col-md-5ths col-xs-6">
     <img class="image-crop" src="{{partnerFive}}" alt = "">
  </div>
</div>
<div class="row text-center">
  <div class="col-md-5ths col-xs-6">
     <img class="image-crop" src="{{partnerSix}}" alt = "">
  </div>
  <div class="col-md-5ths col-xs-6">
     <img class="image-crop" src="{{partnerSeven}}" alt = "">
  </div>
  <div class="col-md-5ths col-xs-6">
     <img class="image-crop" src="{{partnerEight}}" alt = "">
  </div>
  <div class="col-md-5ths col-xs-6">
     <img class="image-crop" src="{{partnerNine}}" alt = "">
  </div>
  <div class="col-md-5ths col-xs-6">
     <img class="image-crop" src="{{partnerTen}}" alt = "">
  </div>
</div>
