<div class="row text-center">
  <h3>{{title}}</h3>
  <div class="col-md-5ths col-xs-6">
     <img class="image-crop" src="{{itemOne}}" alt = "">
  </div>
  <div class="col-md-5ths col-xs-6">
     <img class="image-crop" src="{{itemTwo}}" alt = "">
  </div>
  <div class="col-md-5ths col-xs-6">
     <img class="image-crop" src="{{itemThree}}" alt = "">
  </div>
  <div class="col-md-5ths col-xs-6">
     <img class="image-crop" src="{{itemFour}}" alt = "">
  </div>
  <div class="col-md-5ths col-xs-6">
     <img class="image-crop" src="{{itemFive}}" alt = "">
  </div>
</div>
