{# special-header.twig #}
{% block content %}
  <div class="wrapper-grid">
    <div class="grid">
      <h3>{{gridtitle}}</h3>
      <div class="content-wrapper">
        <div class="row">
          {% for item in grid %}
            <div class="col-xs-6 col-md-4 grid-item"><a href="{{item.link}}" target="{{item.target}}"><img src="{{item.src}}" alt="{{item.body}}" border="0"></a></div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
