{% block content %}
  <div class="wrapper-grid" >
    <div class="teamimages" align="center">
      <h3>{{team}}</h3>
      <div class="content-wrapper">
        <div style="text-align:center;">
          {% for item in teamimages %}
          <a class="headshot-modal-link col-md-4 col-sm-4 col-xs-6" data-target="#{{item.id}}" data-toggle="modal">
            <img src="{{item.src}}" class="image-crop" alt="{{item.body}}" border="0">
            <div class="row">
              <span class="bottom-align-text">{{ item.name }} </span>
            </div>
            <div class="row>">
              <span class="bottom-align-text">{{ item.role }} </span>
            </div>
          </a>
          {% include 'modal.twig' with { 'id': item.id, 'name': item.name, 'jobDescription': item.jobDescription, 'twitter': item.twitter, 'linkedin': item.linkedin } %}
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="boardimages" align="center">
      <h3><br/><br/>{{board}}</h3>
      <div class="content-wrapper">
        {% for item in boardimages %}
        <a class="headshot-modal-link" data-target="#{{item.id}}" data-toggle="modal">
          <div class="col-md-4 col-sm-4 col-xs-6">
              <img src="{{item.src}}" class="image-crop" alt="{{item.body}}" border="0">
            <div class="row">
              <span class="bottom-align-text">{{ item.name }} </span>
            </div>
            <div class="row">
              <span class="bottom-align-text">{{ item.role }} </span>
            </div>
          </div>
        </a>
        {% include 'modal.twig' with { 'id': item.id, 'name': item.name, 'jobDescription': item.jobDescription, 'twitter': item.twitter, 'linkedin': item.linkedin } %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
