{% block content %}
{% if purpose == 'resources' %}
<div class="resourcesImages" align="center">
  <div class="content-wrapper">
    {% for item in resourcesImages %}
    <div class="col-md-4 col-sm-4 col-xs-6">
      <a href="{{item.link}}" data-target="#{{item.id}}" target="_blank" >
        <img src="{{item.src}}" alt="{{item.body}}" border="0">
      </a>
      <div class="row">
        <span class="bottom-align-text">{{ item.name }} </span>
      </div>
      <div class="row">
        <span class="bottom-align-text">{{ item.role }} </span>
      </div>
    </div>
    {% endfor %}
  </div>
</div>


  {% elseif purpose == 'howto' %}
    <div class="howImages" align="center">
      <div class="content-wrapper">
        {% for item in howtoImages %}
        <div class="headshot-modal-link-quotees col-md-4">
          <a href="{{item.link}}" data-target="#{{item.id}}">
            <img src="{{item.src}}" class="image-crop" alt="{{item.body}}" border="0">
          </a>
          <div class="row">
            <span class="bottom-align-text"><a href="{{item.link}}">{{ item.name }}</a> </span>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>



{% endif %}
{% endblock %}
