<header class="header cd-menu">
  <div class="cd-menu__desktop-nav">
    <div class="cd-menu__first-row">
      <a href="/">
        <img src="{{ site.theme.link }}/static/img/coderdojo/coderdojo-logo-light-bg.svg" width="163" height="44" />
      </a>
      <div class="cd-menu__flex-spacer"></div>
      <div class="cd-menu__nav-right">
        <a class="emphasis" href="https://help.coderdojo.com/">Help</a>
        <div class="cd-menu__account">
          <a href="https://zen.coderdojo.com/login">Login</a>
        </div>
        <div class="cd-menu__profile">
          <div class="cd-menu__profile-pic"></div>
          <span class="cd-menu__profile-name">My Account</span>
          <i class="cd-menu__sub-menu-icon fa fa-chevron-down"></i>
          <ul class="cd-menu__profile-menu">
            <li><a class="cd-menu__profile-link">My Profile</a></li>
            <li><a href="https://zen.coderdojo.com/dashboard/my-dojos">My Dojos</a></li>
            <li><a href="https://zen.coderdojo.com/dashboard/dojos/events/user-events">My Events</a></li>
            <li class="cd-menu__parent-link"><a href="https://zen.coderdojo.com/dashboard/children">My Children</a></li>
            <li class="cd-menu__e-learning-link"><a href="https://zen.coderdojo.com/dashboard/profile/lms">E-learning</a></li>
            <li class="cd-menu__cdf-admin-link"><a href="https://zen.coderdojo.com/dashboard/manage-dojos">Manage Dojos</a></li>
            <li class="cd-menu__cdf-admin-link"><a href="http://badgekit.coderdojo.com/">Badgekit</a></li>
            <li class="cd-menu__cdf-admin-link"><a href="https://zen.coderdojo.com/dashboard/stats">Stats</a></li>
            <li><a class="cd-menu__referer-link" href="https://zen.coderdojo.com/logout">Logout</a></li>
          </ul>
        </div>
      </div>
    </div>
    <ul class="cd-menu__second-row">
      {% for item in menu.get_items %}
      {% if item.get_children %}
      <li class="cd-menu__dropdown">
        <span>
          {{item.title}}
          <i class="cd-menu__dropdown-icon fa fa-chevron-down"></i>
          <ul>
            {% for child in item.get_children %}
            <li><a href="{{child.get_link}}">{{child.title}}</a></li>
            {% endfor %}
          </ul>
        </span>
      </li>
      {% else %}
      <li><a href="{{item.get_link}}">{{item.title}}</a></li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
  <div class="cd-menu__mobile-nav-bar">
    <button type="button" class="cd-menu__hamburger" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="cd-menu__hamburger-bar"></span>
      <span class="cd-menu__hamburger-bar"></span>
      <span class="cd-menu__hamburger-bar"></span>
    </button>
    <a href="/">
      <img src="{{ site.theme.link }}/static/img/coderdojo/coderdojo-logo-light-bg.svg" width="140" height="40" style="padding-left: 5px;padding-top: 5px;" />
    </a>
  </div>
  <div class="cd-menu__scrim"></div>
  <nav id="cd-menu__sliding-menu-primary" class="cd-menu__sliding-menu" data-toggle="closed">
    <div class="cd-menu__close-row">
      <span class="cd-menu__close-button">&times;</span>
    </div>
    <div class="cd-menu__content">
      <div class="cd-menu__content-pre">
        <a class="emphasis" href="https://help.coderdojo.com/">Help</a>
        <div class="cd-menu__account">
          <a href="https://zen.coderdojo.com/login">Login</a>
        </div>
        <ul class="cd-menu__content-block">
          <li class="cd-menu__profile">
            <span>
              <div class="cd-menu__profile-pic"></div>
              <span class="cd-menu__profile-name">My Account</span>
              <i class="cd-menu__sub-menu-icon fa fa-chevron-right"></i>
            </span>
            <div class="cd-menu__sliding-menu cd-menu__sliding-menu-secondary" data-toggle="closed">
              <div class="cd-menu__close-row cd-bg-alt-white">
                <span class="cd-menu__back-button fa fa-chevron-left fa-lg"></span>
                <span class="cd-menu__close-button">&times;</span>
              </div>
              <div class="cd-menu__content">
                <div class="cd-menu__content-block cd-menu__profile-header">
                  <div class="cd-menu__profile-pic"></div>
                  <span class="cd-menu__profile-name"></span>
                </div>
                <ul class="cd-menu__content-block cd-menu__profile-menu">
                  <li><a class="cd-menu__profile-link">My Profile</a></li>
                  <li><a href="https://zen.coderdojo.com/dashboard/my-dojos">My Dojos</a></li>
                  <li><a href="https://zen.coderdojo.com/dashboard/dojos/events/user-events">My Events</a></li>
                  <li class="cd-menu__parent-link"><a href="https://zen.coderdojo.com/dashboard/children">My Children</a></li>
                  <li class="cd-menu__e-learning-link"><a href="https://zen.coderdojo.com/dashboard/profile/lms">E-learning</a></li>
                  <li class="cd-menu__cdf-admin-link"><a href="https://zen.coderdojo.com/dashboard/manage-dojos">Manage Dojos</a></li>
                  <li class="cd-menu__cdf-admin-link"><a href="http://badgekit.coderdojo.com/">Badgekit</a></li>
                  <li class="cd-menu__cdf-admin-link"><a href="https://zen.coderdojo.com/dashboard/stats">Stats</a></li>
                  <li><a class="cd-menu__referer-link" href="https://zen.coderdojo.com/logout">Logout</a></li>
                </ul>
              </div>
            </div>
          </li>

          {% for item in menu.get_items %}
            {% if item.get_children %}
              <li>
                <span>
                  {{item.title}}
                  <i class="cd-menu__sub-menu-icon fa fa-chevron-right"></i>
                </span>
                <div class="cd-menu__sliding-menu cd-menu__sliding-menu-secondary" data-toggle="closed">
                  <div class="cd-menu__close-row">
                    <span class="cd-menu__back-button fa fa-chevron-left fa-lg"></span>
                    <span class="cd-menu__close-button">&times;</span>
                  </div>
                  <div class="cd-menu__content">
                    <div class="cd-menu__content-block cd-menu__header">
                      <span>{{item.title}}</span>
                    </div>
                    <ul class="cd-menu__content-block">
                      {% for child in item.get_children %}
                        <li><a href="{{child.get_link}}">{{child.title}}</a></li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              </li>
            {% else %}
              <li><a href="{{item.get_link}}">{{item.title}}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>
  <script type="text/javascript">
    window.cdMenu();
  </script>
</header>
