{% extends "base.twig" %}

{% block content %}
<div class="col-md-12">
	{% include "article-list.twig" with {"wordCount": 100} %}
<div class="text-center">
	<ul class="pagination pagination-centered">
		{% if pagination.prev %}
		<a href="{{pagination.prev.link}}" class="prev {{pagination.prev.link|length ? '' : 'invisible'}}"><button class="btn btn-default">Previous</button></a>
		{% endif %}
		{% for page in pagination.pages %}
				<li>
						{% if page.link %}
								<a href="{{page.link}}" class="btn btn-default">{{page.title}}</a>
						{% else %}
								<span class="btn btn-default">{{page.title}}</span>
						{% endif %}
				</li>
		{% endfor %}
		{% if pagination.next %}
		<a href="{{pagination.next.link}}" class="next {{pagination.next.link|length ? '' : 'invisible'}}"><button class="btn btn-default">Next</button></a>
		{% endif %}
	</ul>
</div>
</div>
{% endblock %}
