<div class="form-group {{formclass}}">
  <label for="{{labelfor}}">{{label}}</label>
  <input type="{{type}}" class="form-control {{class}}" id="{{id}}" max="{{max}}" min="{{min}}" name="{{name}}" placeholder="{{placeholder}}">
</div>
