<div class="form-group {{formclass}}">
  <label for="{{labelfor}}" class="{{class}}">{{label}}</label>
  <input type="{{type}}" class="form-control" id="{{id}}" max="{{max}}" min="{{min}}" name="{{name}}" placeholder="{{placeholder}}">
</div>
