{% extends "base.twig" %}

{% block content %}

	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="article-wrapper">
				<h1 class="article-h1">{{post.title}}</h1>
				<div class="article-body">
					{{post.content}}
				</div>
			</section>
		</article>
	</div><!-- /content-wrapper -->
	{% include 'grid5.twig' with {
        'gridtitle': 'Beginner',
        'grid': [
            {
                'body': 'The name',
                'src': '{{ site.theme.link }}/static/img/badge.png',
                'link': 'http://test.com',
                'target': '_blank',
            },
            {
                'link': 'http://test.com',
                'target': '_blank',
                'src': 'https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=150',
                'body': 'testtt'
            },
            {
                'link': 'http://test.com',
                'target': '_blank',
                'src': 'https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=150',
                'body': 'testtt'
            },
            {
                'link': 'http://test.com',
                'target': '_blank',
                'src': 'https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=150',
                'body': 'testtt'
            },
            {
                'link': 'http://test.com',
                'target': '_blank',
                'src': 'https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=150',
                'body': 'testtt'
            },
            {
                'link': 'http://test.com',
                'target': '_blank',
                'src': 'https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=150',
                'body': 'testtt'
            },
            {
                'link': 'http://test.com',
                'target': '_blank',
                'src': 'https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=150',
                'body': 'testtt'
            },
            {
                'link': 'http://test.com',
                'target': '_blank',
                'src': 'https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=150',
                'body': 'testtt'
            },
            {
                'link': 'http://test.com',
                'target': '_blank',
                'src': 'https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=150',
                'body': 'testtt'
            },
            {
                'link': 'http://test.com',
                'target': '_blank',
                'src': 'https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=150',
                'body': 'testtt'
            },
            {
                'link': 'http://test.com',
                'src': 'https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=150',
                'target': '_blank',
                'body': 'testtt'
            },
            {
                'link': 'http://test.com',
                'src': 'https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=150',
                'target': '_blank',
                'body': 'testtt'
            },
            {
                'link': 'http://test.com',
                'target': '_blank',
                'src': 'https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=150',
                'body': 'testtt'
            },
            {
                'link': 'http://test.com',
                'target': '_blank',
                'src': 'https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=150',
                'body': 'testtt'
            },
            {
                'link': 'http://test.com',
                'target': '_blank',
                'src': 'https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=150',
                'body': 'testtt'
            },
            {
                'link': 'http://test.com',
                'target': '_blank',
                'src': 'https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=150',
                'body': 'testtt'
            },
            {
                'link': 'http://test.com',
                'target': '_blank',
                'src': 'https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=150',
                'body': 'testtt'
            },
        ]
    } %}
	{% include 'grid5.twig' with {
        'gridtitle': 'Level 2',
        'grid': [
            {
                'link': 'http://test.com',
                'target': '_blank',
                'src': 'https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=150',
                'body': 'testtt'
            },
            {
                'link': 'http://test.com',
                'target': '_blank',
                'src': 'https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=150',
                'body': 'testtt'
            },
            {
                'link': 'http://test.com',
                'target': '_blank',
                'src': 'https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=150',
                'body': 'testtt'
            },
            {
                'link': 'http://test.com',
                'target': '_blank',
                'src': 'https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=150',
                'body': 'testtt'
            },
            {
                'link': 'http://test.com',
                'target': '_blank',
                'src': 'https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=150',
                'body': 'testtt'
            },
            {
                'link': 'http://test.com',
                'target': '_blank',
                'src': 'https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=150',
                'body': 'testtt'
            },
            {
                'link': 'http://test.com',
                'target': '_blank',
                'src': 'https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=150',
                'body': 'testtt'
            },
            {
                'link': 'http://test.com',
                'target': '_blank',
                'src': 'https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=150',
                'body': 'testtt'
            },
            {
                'link': 'http://test.com',
                'target': '_blank',
                'src': 'https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=150',
                'body': 'testtt'
            },
            {
                'link': 'http://test.com',
                'target': '_blank',
                'src': 'https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=150',
                'body': 'testtt'
            },
            {
                'link': 'http://test.com',
                'target': '_blank',
                'src': 'https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=150',
                'body': 'testtt'
            },
            {
                'link': 'http://test.com',
                'target': '_blank',
                'src': 'https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=150',
                'body': 'testtt'
            },
            {
                'link': 'http://test.com',
                'target': '_blank',
                'src': 'https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=150',
                'body': 'testtt'
            },
            {
                'link': 'http://test.com',
                'target': '_blank',
                'src': 'https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=150',
                'body': 'testtt'
            },
            {
                'link': 'http://test.com',
                'target': '_blank',
                'src': 'https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=150',
                'body': 'testtt'
            },
            {
                'link': 'http://test.com',
                'target': '_blank',
                'src': 'https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=150',
                'body': 'testtt'
            },
        ]
    } %}
{% endblock %}
