{# Paragraph with image - left/right #}

{% if align == 'left' %}
  <div class="paragraph">
    <div class="row">
      <div class="col-xs-4 col-md-3">
        <div class="image-container">
          <div class="image-crop">
            <object data="http://placehold.it/120x120" type="image/png"><img src="{{img}}" border="0" /></object>
          </div>
        </div>
      </div>
      <div class="col-xs-8 col-sm-6 col-md-8 left">
        <div id="title">{{title}}</div>
        <div id="desc">{{desc}}</div>
      </div>
    </div>
  </div>
  {% else %}
  <div class="paragraph">
    <div class="row">
      <div class="col-xs-8 col-sm-6 col-md-8 right">
        <div id="title">{{title}}</div>
        <div id="desc">{{desc}}</div>
      </div>
      <div class="col-xs-4 col-md-3">
        <div class="image-container">
          <div class="image-crop">
            <object data="http://placehold.it/120x120" type="image/png"><img src="{{img}}" border="0" /></object>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}
