{% block content %}

{% for item in resourcesImages %}
<div class="col-md-4 col-sm-4 col-xs-6">
  <div class="resources icon-box">
    <a class="icon-resources img-resources" href="{{item.link}}" style="background-color:{{item.iconColor}};">
      <img alt="" src="{{item.src}}">
    </a>
      <a class="box" href="{{item.link}}" style="background-color:{{item.backgroundColor}}" data-target="#{{item.id}}">
        <h3>{{ item.name }}</h3>
        <p>{{ item.description }}</p>
        <p>
          <b>{{ item.linkText }}</b>
          <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
        </p>
      </a>
  </div>
  <br/>
</div>
{% endfor %}

{% endblock %}
