{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="article-content">
				{% if post.company_name %}
					{% include "company-header.twig" with { 'post':post } %}
                                {% elseif post.people_name %}
					{% include "people.twig" with { 'post':post } %}
				{% endif %}

			 	{% include "share-widget.twig" with {'post':post} %}
				 <header class="article-header">
				 	{{post.title}}
				 </header>

				 <section class="article-subhead">
				 	{{post.post_date|date('j F Y')}} · by {{post.author.name}}
				 </section>

				<div class="article-body">
					{{post.content}}
				</div>
				{% include "article-signature.twig" with {'post':post} %}

			</section>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}
