{% extends "base.twig" %}
{% block content %}
<div class="content-wrapper news">
    <article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
      <section class="article-content">
        <div class="col-md-12 post-image" style="background-image:url({{post.thumbnail.src('large')}})"></div>
        <div class="col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-md-10 col-sm-10 col-xs-10 article-body" style="background: #fff;">
          <h1>{{post.title}}</h1>
          <p class="article-meta">{{post.post_date|date('j F Y')}} · by {{post.author.name}}</p>
          <div class="article-mid news-content">
              {{post.content}}
              {% if post.meta('video') and post.meta('video-poster') %}
                <video style="position:relative; width:100%;" controls poster="{{post.meta('video-poster').guid}}">
                  <source src="{{post.meta('video').guid|replace({'.mp4':'.ogg'})}}" type="video/ogg">
                  <source src="{{post.meta('video').guid|replace({'.ogg':'.mp4'})}}" type="video/mp4">
                      Your browser does not support HTML5 video.
                </video>
              {% else %}
                <hr />
              {% endif %}
          </div>
          <div class="article-mid">
            {% if post.comment_status != 'closed' %}
            <div class="respond">
                <h3 class="text-center">Comments</h3>
                {{ fn('comment_form') }}
            </div>
            {% endif %}
            <div class="responses">
                {% for cmt in post.get_comments() %}
                {% include "comment.twig" with {comment:cmt} %}
                {% endfor %}
            </div>
          </div>
        </div>
        <div class="col-md-1 col-sm-1 col-xs-1"></div>
    </section>
</article>
</div>
{% endblock %}
